[2018-11-12 13:33] beniroquai opened #1 "Add documentation for I2C magnetic connector"
It's not clear which wire go where.

[2018-11-12 13:35] beniroquai opened #2 "Add Fritzing "Real-World" Examples in the Electronics parts"
Add the corresponding PNGs to the schematics. Simply export it from Fritzing and add to README.

[2018-11-12 13:36] beniroquai opened #3 "Add in-detail description for XYZ-Stage"
Write a small document which explains the setup of a XYZ-stage with some images.

[2018-11-12 13:36] beniroquai opened #4 "Add download link to Image"
Ask @strolch101 to add a download link to images.

[2018-11-12 13:43] beniroquai opened #5 "Reducing stray-light"
We should definitely add some shielding elements which reduce the stray-light between the individual parts.

[2018-11-12 13:43] beniroquai opened #6 "Introduce some better Z-stage"
Maybe we can get some inspiration in this publication
https://www.degruyter.com/downloadpdf/j/cdbme.2018.4.issue-1/cdbme-2018-0065/cdbme-2018-0065.pdf

[2018-11-12 13:47] beniroquai opened #7 "Add documentation for Telescopes in CAD section"
A short document which give a brief introduction about the following aspects:

- Keppler Telescope
- Galileo Telescope

What to include:
- Brief Description
- Photos
- CAD files
- CAD rendering

[2018-11-12 13:55] beniroquai opened #8 "Add minimal working example of the UC2 GUI"
@renerichter @strolch101 can we provide a minimal working example?

[2018-11-21 03:22] beniroquai opened #9 "Camera Calibration"
Should we also think about this link here:
https://github.com/rwb27/openflexure_microscope_software/issues/10#issuecomment-435017490

It gets rid of the Shading correction at the rim of the cameras sensor.

[2018-11-22 13:14] beniroquai opened #10 "Add a list with optics ressources"
We need a list with available low-cost components which can be used for our setup. Should be found in our Documents folder.

[2018-11-22 15:31] beniroquai commented on #10
Updated the Repo. It now contains a comprehensive list of available components/links. Closing for now!

[2018-11-22 15:31] #10 closed

[2018-12-05 16:16] beniroquai commented on #3
It's done and available in the [Tutorial Section](https://github.com/bionanoimaging/UC2-GIT/blob/master/DOCUMENTS/TUTORIALS_SETUP/TUT_Assembly_XYZ_Stage.pdf).

[2018-12-05 16:16] #3 closed

[2019-10-03 14:19] beniroquai opened #17 "Better and more intuitive way to grasp the idea of models and parts (Bill of materials)"
A tool which reads the database and suggest which parts to print with links would be cool!

[2019-10-07 10:15] beniroquai opened #18 "Fluo-Module blocks I2C Bus if power consumption too high"
If the Fluomodules' LED is turned on above a certain value, it blocks the I2C connection. Probably the Arduinos are under-voltaged.

Solution: Use only 2 LEDs instead of 4!

[2019-10-08 07:38] beniroquai opened #19 "Insert of Z-Stage should have more Connection points"
Insert is wiggeling around inside the cube. We should have more screws making it more stable.
Also: We should use screws with heads instead of the worm screws to mount it inside the cage

[2019-10-08 07:38] beniroquai opened #20 "Better way of holding the objective lens"
Think about the 6-screw-magnetic-slide idea.

[2019-10-08 15:49] beniroquai opened #21 "Add "proper" Table of Content to the readme.md in the base-path"
Maybe there are some tools in the web who do that automatically?

[2019-10-22 13:49] b286 opened #22 "Starting with software"
More detailed guidelines would help!
Hints for basic raspi commands (for just setting up the camera etc.) - taking image, ....

[2019-12-04 15:04] b286 opened #23 "Guiselines improvement"
Add links to: learning 3D printing, starting with Raspberry Pi, and so on.
"When introducing a method always provide the option to learn how to do it"

[2020-01-13 17:11] astraw opened #24 "How to rigidly mount camera in RaspiCam insert v2?"
Hi, I just printed all the files in `UC2-GIT/CAD/ASSEMBLY_CUBE_RaspiCam_v2/STL` but don't understand how the sensor is supposed to be held at a particular postion without play. Is there some way how the `20_Cube_Insert_RaspiCam.stl` part is held rigidly within the cube that I am missing?

Also, when I look closely at [this picture from the inline holography example](https://raw.githubusercontent.c

[2020-01-16 17:38] beniroquai commented on #24
Hey! Thanks for reaching out! The photo you showed is indeed a bit misleading since the rendering indicates an error in the assembly. Once the components are printed it should fit. If you follow [this link](https://github.com/bionanoimaging/UC2-GIT/tree/master/CAD/ASSEMBLY_CUBE_RaspiCam_v2) you'll see how the camera module has to be assembled. The printed insert is "pushed" into the cube (e.g. pre

[2020-01-17 08:13] astraw commented on #24
Thanks for the reply.

The components do fit together, that is not the issue. Rather, the issue is that this is "too easy" -- there is substantial play of the insert within the cube. You say these are press-fit or form-fit but at least on my print, there is substantial play. This play is reduced when I insert screws into the cube and the threads of the screws touch the corners of the insert. For w

[2020-01-17 08:23] beniroquai commented on #24
Ah. This is interesting. May I ask you which printer you have? It's
supposed to be stiff and not very easy to move.
One thing we were thinking of is having a template to adjust the inner
component of each cube. Maybe we should have this for fixing them for long
time experiments. Please have a look here:
https://github.com/bionanoimaging/UC2-GIT/tree/master/CAD/EXT_Alignment_Tool

Best

Am Fr., 17.

[2020-01-17 10:16] astraw commented on #24
We have a Prusa i3 mk3. The template is a good idea for holding things more steady. I think I would just physically join the two pieces to be one piece at the 3D model level to hold it really steady.

Thanks again.

[2020-01-22 12:01] beniroquai commented on #24
So all good for now? :)

[2020-01-22 15:29] astraw commented on #24
Yes, thanks.

[2020-01-22 15:29] #24 closed

[2020-03-18 16:42] #23 closed

[2020-05-03 04:37] Andronicus opened #25 ".stl scale"
10_Base_v2.stl, Assembly_base_4x1.stl, and Assembly_base_4x2.stl in Master aren't scaled properly.  I had to scale 39.37% to print at the proper scale.  There may be more as I've not tested them all.

[2020-05-04 10:46] b286 commented on #25
Thank you for pointing us to this issue. All the mentioned files should have the correct scaling now.

[2020-05-04 10:46] #25 closed

[2020-05-04 10:56] b286 opened #26 "Improvement of the TUTORIALS"
We want to be user-friendly but to improve on that, we need users ;)

Start with the UC2 project by following our [Tutorials of the TUTORIALS section](https://github.com/bionanoimaging/UC2-GIT/tree/master/TUTORIALS#-tutorials). Suggest improvements to the Tutorials if the instructions are not clear enough, more images are needed, something is not as obvious as we thought...

[2020-05-04 11:21] b286 opened #27 "Results and use cases of APPLICATIONs"
Build any of the setups from [APPLICATIONS](https://github.com/bionanoimaging/UC2-GIT/tree/master/APPLICATIONS) and add your results to the respective README file and IMAGES folder.

Proposed format:
<img width="401" alt="results" src="https://user-images.githubusercontent.com/44977563/80960735-bb831000-8e09-11ea-821d-0b5b48baea79.PNG">

- date (DD.MM.RR) of submisson
- your name and institution (

[2020-05-05 05:18] beniroquai commented on #27
Do you want experimental results in this section or what do you mean by results?

[2020-05-28 07:02] AlecVercruysse opened #28 "Broken link in CAD/ASSEMBLY_CUBE_LED_Matrix_v2/Readme.md"
Under "3D printing parts", the LED-Matrix Adapter STL is a broken link.

It points to
`./STL/20_Cube_insert_LED_holder.stl`
instead of
`./STL/30_Cube_LED_Array_v0.stl`

[2020-05-28 07:18] #28 closed

[2020-05-28 22:36] AlecVercruysse opened #30 "Clarification of Baseplate connectors"
Hello,

What is the purpose of the [Assembly_Base_Connector_4](https://github.com/bionanoimaging/UC2-GIT/blob/master/CAD/ASSEMBLY_Baseplate_v2/STL/Assembly_Base_Connector_4.stl)? Is it just the 4u version of [00_Connector_Baseplate](https://github.com/bionanoimaging/UC2-GIT/blob/master/CAD/ASSEMBLY_Baseplate_v2/STL/00_Connector_Baseplate.stl), meant for 3D designs? [The readme](https://github.com/

[2020-05-29 06:55] beniroquai commented on #30
Hey @AlecVercruysse,

thanks for getting back to us! The Connector "Assembly_Base_Connector_4" is indeed an adapter to tilt the baseplate by 90° in order to build in the 3rd dimension. For concatenating base-plates you can conveniently print 2x2 plates and screw them together with M3 screws and/or mount them on a massive baseplate (i.e. Thorlabs optical tabels/breadboards, wooden plates, etc. ). D

[2020-05-30 20:03] AlecVercruysse commented on #30
This makes sense, thank you for the clarification!

[2020-05-30 20:09] AlecVercruysse commented on #30
This makes sense, thank you!

I see that 10_ corresponds to the "cube frame" components, 20_ to the cube inserts, and 00_ to any external parts, but I do not see in the figure the meaning of items labeled with 40_.

Particularly, in your [flex z-stage](https://github.com/bionanoimaging/UC2-GIT/tree/master/CAD/ASSEMBLY_CUBE_Z-STAGE_v2/STL), how does the `40_XY_Stage_Clamp_Slide_9.stl`  fit into thi

[2020-05-31 09:55] beniroquai commented on #30
Well, thats a very good question 😊
It might be possible, that this is due to a wrong naming convention. Sometimes things are lost in chaos. The best would be to have some kind of online-configuator which outputs all files necessary for one setup as done in the [openflexure](https://ofm-stl-selector.netlify.app/#/v6.1.2?enable_smart_brim=true&reflection_illumination=false&optics=rms_f50d13&camera=p

[2020-06-02 20:58] AlecVercruysse commented on #30
Such a tool would indeed be helpful in the future. Thanks, I'll close this issue since I understand the baseplate clarification.

[2020-06-02 20:58] #30 closed

[2020-06-03 11:21] b286 opened #31 "Finishing MiniBOX"
- [ ] eyepiece: yes or no?
- [ ] sample holder - old version or new one with screws+magnets?
- [ ] amount of baseplates: planned 8, do we want to sandwich it? -> then 16
- [ ] sample mounting in smartphone microscope: is it clear and okay now?
- [ ] lens holder: does the new version work well, stays closed?
- [ ] which spring length/diameter for the z-stage?
- [ ] z-stage working well?

[2020-06-03 11:39] RainerHeintzmann commented on #31
Is there an idea, where we finally get a low-priced set of lenses from?
Best wishes,
  Rainer

On Wed, 3 Jun 2020 at 13:22, b286 <notifications@github.com> wrote:

[2020-06-06 12:35] beniroquai commented on #31
Is there a way to add a simple spectrometer with the exsiting parts?

[2020-06-09 17:16] beniroquai commented on #31
Some more thoughts:
[code]

[2020-06-09 17:19] beniroquai commented on #31
And some input from Christina:

In your instructions there are various didactic elements which - according to my suggestion - should be clearly distinguishable graphically to facilitate understanding.

 ## Theory section

- illustrations - partly with explanations - in the form of beam paths
the images should be labeled again individually (converging lens, diverging lens, Galilean telescope...), e

[2020-06-10 19:38] AlecVercruysse opened #32 "1x1 baseplate .ipj out of date in MDK"
Hello,

It seems that `MDK/CAD/Assembly_Cube_Baseplate_1x1/` only contains the inventor project files that pertain to v0 of the baseplate, while the baseplate folder in `CAD/` contains v2 of the baseplate. Is there a chance you can provide the inventor project files for v2?

Related to this issue, since there seem to be many copies of what seem to be the same file in every repository (e.g. the STL

[2020-06-11 05:16] beniroquai commented on #32
Hey, thanks for pointing this out! I'll have a look and will upload the proper ```v2```-Inventor Project files.
Regarding the STLs: Very good point. Ideally I would like to have something like the ```openflexure``` buildsystem. A very nice way to distribute stuff is this [online configurator](https://gitlab.com/openflexure/ofm-stl-selector/-/issues/2). Unfortunately my skills to program webapps is

[2020-06-11 06:27] beniroquai commented on #32
Regarding the ```v0``` vs ```v2``` conflict: We didn't change the baseplate. So this stays as is. Nevertheless, we will have a new puzzle-piece baseplate soon. But for now the files are good :)

[2020-06-11 19:32] AlecVercruysse commented on #32
Thanks! This looks like an issue with how SolidWorks imported the ipj file, it looks correct on Autodesk Inventor, and converting it to a STEP file fixed all issues.

As for your idea regarding a similar online configurator to that of OpenFlexure, how do you envision this working with the modular design philosophy of UC2? One json/yaml file is created per module with config options, as well as the

[2020-06-12 10:47] b286 commented on #31
Include eyepiece: [10×/20](https://de.aliexpress.com/item/32897739739.html?spm=a2g0x.search0306.3.10.55b33e3cqAk1OO&ws_ab_test=searchweb0_0,searchweb201602_0,searchweb201603_0,ppcSwitch_0&algo_pvid=d07eadd7-1b43-443e-9a26-70fe7014a047&algo_expid=d07eadd7-1b43-443e-9a26-70fe7014a047-4) - 10,40€ per piece

[2020-06-14 19:46] beniroquai commented on #32
That's exactly what I had in mind!
Currently, we have a huge folder with all the STL files which need to be
put in each subfolder manually. That's not a good way to organize the
files, since an updated file will probably not get propagated to all the
folders. Having the online configurator (similar to the one from
flexuremicroscope) could pack a ZIP with all necessary printing files and
print all

[2020-06-15 13:34] b286 commented on #31
The final designs of baseplates must be symmetrical for stacking and magnet-comptible.
There are 8 baseplates in the miniBOX (final amount)

[2020-06-25 23:03] AlecVercruysse commented on #32
It's taken me a bit due to my limited experience with webapps, but I do have a working example now, built with vue.js. It's hosted for free on [netifly](https://upbeat-ritchie-460ff9.netlify.app/), and can alternatively be run locally by cloning my repository: [AlecVercruysse/uc2-configurator](https://github.com/AlecVercruysse/uc2-configurator).

The readme and issues tab specify some simple impro

[2020-06-26 15:42] beniroquai commented on #32
Wow! I'm truly impressed by your work!! I took some days off and just installed npm on my computer to start digging into the code a bit...then I got your email. Brilant! Thanks a lot!
@b286 and @renerichter were already discussing how we could automize the build process of the json files you supported in your fork. I guess in Autodesk Inventor there are plenty of options to export the bill of mate

[2020-06-28 01:24] AlecVercruysse commented on #32
Thank you for the kind words!

I think keeping the stl files under each respective module subfolder in this repository would be ideal, since it facilitates easy contribution of additional modules. Another repo, in my mind, just adds unnecessary additional complexity.

I do think that this tool could be used to replace the `STL` subfolder of each `APPLICATION`. This could end the need to propagate

[2020-06-28 08:20] beniroquai commented on #32
Here is an example billof-material Excel-file of a random Autodesk Inventor Assembly file:
[UC2_test_BOM_export_Inventor.xlsx](https://github.com/bionanoimaging/UC2-GIT/files/4841895/UC2_test_BOM_export_Inventor.xlsx) Unfortunately it's in German, but this can be changed. From there, we only need to build a python file which converts the excel into the yaml with proper links to the file. There may

[2020-06-28 21:52] beniroquai commented on #32
@AlecVercruysse I had the chance to go through your code and I must say I really like what you did! Nevertheless, I think we could even simplify the effort to organise the files. Based on the excel sheet I attached previously, we could "just" link the external/internal files with your configurator. It selects the proper file names from a dedicated always up-to-date STL folder and zips it as a fold

[2020-06-29 11:03] beniroquai commented on #32
So @b286 and me agreed on the following:

We have this [google-sheet](https://docs.google.com/spreadsheets/d/1U1MndGKRCs0LKE5W8VGreCv9DJbQVQv7O6kgLlB6ZmE/edit?usp=sharing) which has all the information about the setups, assemblies, modules and parts. I'll try to write a python script which generates a ```config.json``` for each assembly and module and automatically copies it in each subfolder. I t

[2020-06-29 15:44] kasbah commented on #32
@AlecVercruysse I'd be grateful if you could give the [ofm-stl-selector](https://gitlab.com/openflexure/ofm-stl-selector) a go, reconfiguring it to use the UC2 STLs. What you have to do:

1. `git clone https://gitlab.com/openflexure/ofm-stl-selector && cd ofm-stl-selector`
1. Run `npm install`
1. Remove everything in `stl_options.json` and replace it with UC2 data, I [documented the format in a co

[2020-06-29 18:27] AlecVercruysse commented on #32
@kasbah, thanks for reaching out! I loved the design of your webapp and your use of Vue inspired me to go explore it myself!

I went ahead and wrote a sample config ([stl_options.json.txt](https://github.com/bionanoimaging/UC2-GIT/files/4847276/stl_options.json.txt), added .txt because I couldn't upload a `.json` file to this comment)
 for some basic presets, and changed the build-url in StlSelect

[2020-06-29 19:39] kasbah commented on #32
Thanks for trying it out and a thorough descriptions of the issues you see.

I'd be very interested to add the ability to have multiples of the same STL in the output. Adding hierarchies, I have come to believe, will actually reduce the computational complexity. Right now the system thinks that every option has an impact on every other option so working it out becomes close to O(n!) (factorial com

[2020-06-29 21:06] AlecVercruysse commented on #32
@kasbah I believe the issues with multiple modules is not necessarily needing to add duplicates of a file (in fact, I specifically choose to remove duplicates in uc2-configurator), but rather being able to specify separate configurations for multiple versions of a module.

Additionally, while I'm not a CS major so I could definitely be wrong, I believe that uc2-configurator's file-inclusion calcul

[2020-06-29 21:19] AlecVercruysse commented on #32
@beniroquai I see how including all .stl files in a root folder is beneficial, especially so that multiple copies of common stls like the lid or base are not present in the repo. I do believe that it is still useful to include some version of the `CAD/` folder that includes readmes, images, and the config files for each module (although I assume `CAD` would have to be renamed).

I've updated uc2-c

[2020-07-02 07:40] AlecVercruysse opened #33 "Inventor Files for Z-Stage? (and other modules)"
Hello,

Will the inventor files be released for any of these modules? Converting an STL to a solid body makes for a generally unconstrained and tough file to edit.

I'm asking because I need to design an objective holder for the z-stage that fits the objective we use, and I would like to simulate the whole assembly to ensure alignment.

Thanks!

[2020-07-02 09:25] b286 commented on #33
Hello Alec,

The files shall be made available. It just takes time to export everything in a nice way, especially from Inventor. Also, many modules (and the Z-stage most of them all) are being actively improved and change quite often, so we only release the versions we consider reliable.

The latest version of the Z-stage is one that we are happy with and I'm planning to have it completely documen

[2020-07-02 18:05] AlecVercruysse commented on #33
Thanks, I eagerly await its release!

[2020-07-02 18:05] #33 closed

[2020-07-08 09:26] beniroquai commented on #32
Dear @AlecVercruysse,

thanks again for your great effort to make this work. I started working on a simple python script which converts the ```xlsx```file from gdrive into a class-based Application-Module-Part converter. Before I start converting this structure to the JSON file you requested, I wanted to kindly ask you if this suits your needs ;-)
You can find the files [here](https://github.com/b

[2020-07-08 17:25] AlecVercruysse commented on #32
@beniroquai,

The python script looks good! I see that you include both 3d printed and non-3d printed parts in the script. I can look into adding configuration options, and some sort of BOM export for non-printed parts, later this week. If you'd like, I could also look into the actual json export later this week as well. Most of the commented code at the end of `generate_config_from_database.py` i

[2020-07-12 18:10] beniroquai commented on #32
Sounds very good to me! :)
I would love to do it myself, but my schedule is a little bit tight this
week. I hope to work on it next week again :)

Am Mi., 8. Juli 2020 um 19:25 Uhr schrieb Alec <notifications@github.com>:

[2020-07-15 17:09] beniroquai commented on #32
@AlecVercruysse we have added all ```.stl``` files and ```.ipt``` files to the repo.
So I think we could continue to work on the online tool :-)

You can find all files [here](https://github.com/bionanoimaging/UC2-GIT/tree/master/CAD/RAW).

Since you can export all ```.stl```-files at once, all of them have a prefix: ```Assembly_ALL_PARTS_FOR_EXPORT_*```.

[2020-07-15 17:10] beniroquai commented on #33
All files can be found [here](https://github.com/bionanoimaging/UC2-GIT/tree/master/CAD/RAW).

[2020-07-16 09:21] AlecVercruysse commented on #32
My edits to the python script can be found [on my fork](https://github.com/AlecVercruysse/UC2-GIT/blob/2fedf5b649361c77136a37925e64e86619c50712/DOCUMENTS/UC2-Configurator/generate_config_from_database.py). It writes module configs, but not yet the application configs. All config files on my fork are updated with this script.

Please note that for the module configs, the spreadsheet does not define

[2020-07-16 12:28] beniroquai commented on #32
Cool! I'll definitely give it a try in the next days. I was also trying to get the nested class structure of the applications into a proper JSON file, but I wasn't lucky yet. Need to have a look. I've updated the python script, but it producs weird stuff. I'm aiming for exporting the proper json files in each application folder, right?

Regarding options in the modules, do you wish to put this int

[2020-07-16 20:30] AlecVercruysse commented on #32
I can work on writing the application configs with the script next, if you'd like. Yes, every config file goes in the root directory of the specific application (e.g. `APPLICATIONS/APP_Incubator_Microscope/config.json`).

It might be a good idea to add the file locations (and options) into that spreadsheet. Ultimately, I think it would be ideal if every `ASSEMBLY_*` folder in `CAD/` corresponded t

[2020-07-26 20:42] beniroquai opened #34 "UC2 Online Configurator"
Based on the work by the openflexure team and @AlecVercruysse, we want to have an online configurator which allows the creation of ready-to-print ```.zip```-files of UC2 Applications which are always up-to-date.

The script which generates ```JSON``` files for each ```APPLICATION``` now successfully converts the excel sheet into a useful ```JSON```-file. It's still experimental and can be found [h

[2020-07-26 22:28] beniroquai commented on #34
@AlecVercruysse I reviewed your code of the [UC2](https://github.com/AlecVercruysse/uc2-configurator) and I thought that it might be easier to eventually load everything from the ```JSON```-files in the Application folders rather than going through all ```STL``` subfolders and creating lists this way?

Taking this [config.json](https://github.com/bionanoimaging/UC2-GIT/blob/master/APPLICATIONS/APP

[2020-07-29 08:13] AlecVercruysse commented on #34
@beniroquai, the reason I went for the modular config was so that only one copy of a module config was present for that module. Any change to that module's config would therefore not have to be propagated to all the other copies of that config, for example in the application config you linked.

Having the master database would certainly help, because it could do a lot of the heavy work in terms of

[2020-07-29 14:59] beniroquai commented on #34
Ah, now I think I got it. Well deeply buried in the sheets there is the initial table which refers to the modules with internal links rather than hard coded links. I'll have a look.
The current app config.json files combine the app and module information and have additional part information. Maybe the way to go for now?

I also try adjusting the uc2 selector such that it only relies on the app con

[2020-07-31 14:51] b286 commented on #34
It would be great if it can keep the hierachy of Application - Modules - Parts. Also, would be nice to have the option to have the option to generate a module only - without an application that is using it.

[2020-08-01 21:44] AlecVercruysse commented on #34
@b286, I agree that this hierarchy is one of the many great things about the current UC2 standard. To keep this, and the ability to generate standalone modules, present in the configurator, @beniroquai, I believe it would be best to separate out the config files.

[2020-08-03 21:09] beniroquai commented on #34
Thanks @AlecVercruysse for your response. I would "just" update the conversion script to automatically generate the modules from the excel sheet. This could go to the module folders in "Assemblies"

Nevertheless, I would like to let the online configurator simply look up the ```config.json``` files scan the printable parts and display them for downloading. This is true for Applications and Modules

[2020-08-04 07:38] beniroquai commented on #34
I have updated the python script which now produces ```config.json``` files for applications and modules. I hope that makes sense. I'm definetely not a programmer and everything is very hacky..but it seems to be working. Also I noted - probably what you had in mind all the time - that in rare cases it's possible to have modules inside modules (i.e. basic cube). Hacky workaround is implemented and

[2020-08-04 09:07] scientistnobee opened #35 "XY stage"
After reading your paper, I ordered the XY stage from Aliexpress. Along with the stepper motor connectors it has extra electronics parts, which I believe or end stops. Could you please confirm what they are for. The flex ribbon cable seems a better value, so can we find a connector for this?

[2020-08-04 09:18] beniroquai commented on #35
Hey @scientistnobee thanks for reaching out! I appreciate your interest in the UC2 project. The xy-stage from aliexpress indeed has flex cables, but buying the correct adaptor is quiet cumbersome. I didn't finde one which fits and designing a customized PCB makes reproducing by people outside the electronic community a little bit more complicated.
Indeed there are two end stop sensors which can be

[2020-08-04 11:14] scientistnobee commented on #35
Thanks for your prompt reply and confirming that they are end stops. Do you have any link or extra info on how to use them. It has four solder joints. The sub pixel frame seems interesting.

Some questions on the stage. Can a single XY-stage can bare the weight of a slide? Also, do we really need an extra IC to control the stepper motors? I think current from an Arduino board IO's is sufficient, s

[2020-08-04 11:44] b286 commented on #34
Updated. All modules from CAD should be in the [excelsheet](https://docs.google.com/spreadsheets/d/1U1MndGKRCs0LKE5W8VGreCv9DJbQVQv7O6kgLlB6ZmE/edit#gid=1662043320) now (NEW Complete overview).

[2020-08-04 16:13] beniroquai commented on #35
Hey, I found [this](https://www.hackster.io/news/these-two-small-steppers-are-one-giant-leap-for-maker-kind-7a6b3599cfae) a good read. I digged into the Aliexpress djungle, but unforutenyl I didn't find any additional information.
Microstep scanning is more experimental. you need a second raspi lens and do a retro imaing configuration. From there you can do image processing. It's a 1:1 imaging in

[2020-08-04 19:42] scientistnobee commented on #35
I think I come across the same project in a different version. https://youtu.be/s-a9CgvyQM8

I don't know much about the microstrip scanning. I will read about it soon.

[2020-08-05 06:19] b286 commented on #31
* making the IM stuff compatible
* baseplate puzzles

[2020-08-05 07:17] AlecVercruysse commented on #34
Hi @beniroquai,

The current behavior of the configurator is to lazy-load required configs. So if the user selects an application, it checks to see if the application config.json has already been downloaded, and if not, it will download and parse just that config. The same goes for any modules: for every module "active," the configurator will check if the module's config is loaded, and if not, it

[2020-08-05 08:38] beniroquai commented on #31
Instead of the eyepiece we should go for 2*40mm lenses to build a Ramsden Eyepiece:
![image](https://user-images.githubusercontent.com/4345528/89390923-c3ec2f00-d707-11ea-97b5-25e8907b9d7f.png)

Since the cubes will be easy to open this is a nice alternative.

[2020-08-05 08:44] beniroquai commented on #31
We want a flyer which has a minimum dimension of 20x12mm (wide side is more important!)
We want to have a Buchschraube which binds it. Like this:
![image](https://user-images.githubusercontent.com/4345528/89391469-8e941100-d708-11ea-9d0f-d2195690b8d7.png)

[2020-08-05 09:23] b286 commented on #31
Lenses:
* 2× 40mm - [Artikel 2120](https://optikbaukasten.de/)
* 1× 100mm - [Artikel 2004](https://optikbaukasten.de/)
*1× -50mm - [LC1259](https://www.thorlabs.com/thorproduct.cfm?partnumber=LC1259)

[2020-08-05 11:57] beniroquai opened #36 "Fluorescence Fiter (large) needs better mount system"
The additional part which fixes the mirror is too small to hold the mirror. We need to improve that!

[2020-08-05 14:06] beniroquai commented on #36
I updated the filter retain thingy to keep the filter in place:

![image](https://user-images.githubusercontent.com/4345528/89422392-9027fe00-d735-11ea-999a-2b9303f32413.png)

[2020-08-05 14:06] #36 closed

[2020-08-05 15:04] beniroquai commented on #35
That's brillant! Thanks for sharing! :)

[2020-08-05 15:15] ranranking opened #37 "App_openSIM pattern generator"
The pattern generation plugin from fairSIM is not on their github anymore or i didnt find the right path to find it.
pattern-generation software

[2020-08-05 15:57] beniroquai opened #38 "The Beamexpander is not in the cube's center"
We should add some spacer between the insert and the cube to have it centered.

[2020-08-07 09:54] beniroquai commented on #37
Thanks for reaching out.

There is a matlab-based version which you can find here:
[https://github.com/nanoimaging/fastSIM_GratingSearchforSLM](https://github.com/nanoimaging/fastSIM_GratingSearchforSLM).

I'll add this to the README! Thanks for the comment.

[2020-08-07 10:00] beniroquai commented on #37
Also the SLM Grating generator can be found here:
[SLM_GratingSearch.jar](https://github.com/fairSIM/fastSIM-GratingSearch/releases)

[2020-08-07 10:00] #37 closed

[2020-08-07 10:13] ranranking opened #39 "readme in openKoehler is wrong"
The readme in openKoehler is shown as the readme for openSIM

[2020-08-10 04:46] beniroquai opened #40 "UC2 needs a better way to hold objective lenses - with different threads"
Most cheap optics are with RMS threadings, but I guess we should make this somehow adaptable - at least the part which slides through the z-stage. @b286 do you have a good way of doing that? Maybe something in Thingiverse?

Perhaps it should look more like this rather than a full radial hole?
![image](https://user-images.githubusercontent.com/4345528/89752563-2dd45200-dad5-11ea-8830-e4de5e29baf2.p

[2020-08-10 06:44] RainerHeintzmann commented on #40
... by the way. We should somewhere have our own RMS Tap.

Ich habe gerade privat einige 6mm Stangen (Thorlabs compatible?) geordert.
Mal sehen ob die Magnetisch sind. Hab da so ne Idee ....

VG,
  Rainer

*******************************************************************
Rainer Heintzmann
Leibniz Institute of Photonic Technology, Albert-Einstein Str. 9, 07745
Jena, Germany
(preferred mail addres

[2020-08-10 19:38] beniroquai commented on #40
What do you mean by tap? Could you provide any drawings?

Regarding the rails: we had something in our very first designs in 2017.

On Mon, 10 Aug 2020, 08:44 RainerHeintzmann, <notifications@github.com>
wrote:

[2020-08-10 20:35] RainerHeintzmann commented on #40
Gewindeschneider

---------------------
Rainer Heintzmann
Institute of Physical Chemistry, Friedrich-Schiller-Universität Jena,
Helmholtzweg 4, 07743 Jena, Germany
Leibniz Institute of Photonic Technology, Albert-Einstein Str. 9, 07745 Jena,
Germany
Tel.: +49 (0) 3641 206 431
---------------------------------

[2020-08-13 11:00] RainerHeintzmann opened #41 "Allow to mount 50mm diameter lenses"
Many of the easily available lenses (e.g. form Ajax Scientific have 50 mm diameter. It would be useful to also be able to mount them.
They just about fit in the standard cube, but a different mount would be needed. It is not so important to have to full size as a transmitting surface.
Can one make a design for a variable holder for big lenses?

In addition it may also be interesting to make a desi

[2020-08-13 16:06] beniroquai opened #42 "New puzzled Baseplate should ship with variable Holesize for different printers"
We should provide different holes for magnets to give people to adjust it according to their (non)-calibrated printers. Maybe a Thingiverse configurator could do the job - or just a list of different STLs. Since we reduce it to only one part rather than ```1x3```, ```2x5```, etc. we don't need to do that for all the baseplates.

[2020-08-13 19:06] beniroquai commented on #41
Sounds interesting. We could definitely make a lens holder for the big lenses.

Something like this:
![image](https://user-images.githubusercontent.com/4345528/90176020-a45ca280-dda8-11ea-9742-bcdd8399f495.png)

Can you please add more information about the lens diameter and thickness?
A generic 50mm lens holder can be found here:
[20_Lens_holder_DIA_50mm.stl.zip](https://github.com/bionanoimaging

[2020-08-14 12:40] RainerHeintzmann commented on #41
That's pretty good. A retainment ring, which has the same size as your aperture and is flat and squishy would be good.

[2020-08-17 19:07] beniroquai commented on #41
Certainly. Would you mind to print this and see if this works? If so, I'll
provide the retain ring. We need to come up with an adjusted design though.
What are the lenses thicknesses?

Am Fr., 14. Aug. 2020 um 14:40 Uhr schrieb RainerHeintzmann <
notifications@github.com>:

[2020-08-17 20:44] RainerHeintzmann commented on #41
Here are the approximate measures:
(Double convex),  diameter= 50 mm, d_center=4,9mm, d_side=1.9mm
(Double concave), dameter=49,0mm, d_center=, d_side=4,8mm
(Convex-Concave, diameter=48,6mm, d_center=3.1m
( Concave -Convex), diameter=48,4mm, d_center=3,8mm
(Plano-concave), diameter=49,2mm, d_center=4,5mm
(Plano-convex), diameter=49,1mm, d_center=4,7, d_side=2,3mm

On Mon, 17 Aug 2020 at 21:08, Ben

[2020-08-18 12:26] b286 commented on #40
So we should offer the options RMS / M25. Is there anything else commonly used?

[2020-08-18 12:30] b286 commented on #42
I don't quite understand what you mean.

We could have an openSCAD design of the baseplate and using the Thingiverse Customizer, one could change a single parameter (hole offset) to change the diameter of the holes for the magnets.

However, this would require everyone who prints the baseplate to experimtn with this and find the optimal setting. If someone want just 8 baseplate units, they might f

[2020-08-18 18:21] beniroquai commented on #40
Yes. Mostly RMS and M25. Eventhough both have almost the same thread. Maybe
we could get inspired with the openflexure triangular mechanism for threads?

On Tue, 18 Aug 2020, 14:26 b286, <notifications@github.com> wrote:

[2020-08-19 05:07] beniroquai commented on #42
That's exactly what I meant. The new baseplate has two parameters: whole
for the screw and the magnet. I guess this could be made adaptable. I had
to experiment quite a lot in order to make it fit perfectly.
Maybe worth a try? Don't know how much effort that means for translating it
to openSCAD.

Thanks! )

Am Di., 18. Aug. 2020 um 14:31 Uhr schrieb b286 <notifications@github.com>:

[2020-08-19 09:20] b286 commented on #42
The effort to translate it to openSCAD is not such an issue. What I see as an issue is that every user who would print the baseplates would also have to experiment with the printing quite a lot. But if it simply doesn't work otherwise, then it's worth it.

[2020-08-24 21:41] beniroquai commented on #42
Hm. Maybe we should provide a print-template which has holes ranging from 4.8-5.2 in 0.1 mm steps. Users can print it and see how "precise" their printer do their job and then they can print the "real" one.  Something like[this](https://www.thingiverse.com/thing:242437)

This emphasizes the reproducibility aspect.

For the base plate, the only parameters would be the hole-diameter for the screw (M

[2020-08-24 22:44] beniroquai commented on #41
Please find the new version of the lens adapter here:
[20_Lens_holder_DIA_50mm.zip](https://github.com/bionanoimaging/UC2-GIT/files/5120546/20_Lens_holder_DIA_50mm.zip)

If printed correctly it looks like this:
![image](https://user-images.githubusercontent.com/4345528/91103461-d1903700-e66b-11ea-81ab-cc243c90610d.png)

@b286 do you think one can add this design to the Thingiverser?

[2020-08-25 06:14] RainerHeintzmann commented on #42
Sure. Sounds like a sensible approach.
Best wishes,
Rainer

---------------------
Rainer Heintzmann
Institute of Physical Chemistry, Friedrich-Schiller-Universität Jena,
Helmholtzweg 4, 07743 Jena, Germany
Leibniz Institute of Photonic Technology, Albert-Einstein Str. 9, 07745 Jena,
Germany
Tel.: +49 (0) 3641 206 431
---------------------------------

[2020-08-25 07:12] b286 commented on #42
UC2 printing template, sounds cool.

Does it make sense then to consider more parts than just the baseplates?

[2020-08-25 07:16] b286 commented on #41
Making it adaptable to the lens thickness? That shouldn't be difficult, I'll make the openSCAD design for it.

[2020-09-07 05:57] beniroquai opened #44 "Add DOI badge to the github"
In case someone wants to cite this repo we need a DOI badge from our Zenodo archive or the biorxiv preprint.

@b286 would you mind to take care of that?

[2020-09-07 08:25] b286 commented on #44
Like this for the biorxiv preprint:
[![DOI:10.1101/2020.03.02.973073](http://img.shields.io/badge/DOI-10.1101/2020.03.02.973073-B31B1B.svg)](https://doi.org/10.1101/2020.03.02.973073)

To get a DOI badge for the repository from Zenodo is a bit more difficult. We'd need to create a release and they kind of do not consider that someone wants to do this for anything else than software.

[2020-09-08 20:05] beniroquai commented on #44
<3!!
Let's DOIt!

[2020-09-09 05:24] b286 commented on #44
When you share the links to the badges that Zenodo created for our GITs, I'll add them all to the readme

[2020-09-10 15:51] ranranking commented on #42
About the template/resolution target stuff. I am thinking about, if it makes sense to use normal printer to calibrating their 3D printers. What i am saying, is try to create some of a template print with their own different 3D printers and kind of calibration target with thier normal paper printer. So can compare the difference of the printing quality. The thing i am not really clear is, if all th

[2020-09-10 16:36] b286 commented on #42
I've created a ciälibrating tool that works reliably, in my opinion :) It will go to github soon.

[2020-09-21 10:35] beniroquai commented on #44
So the actual DOI has changed. It's this now:
```10.5281/zenodo.4018965```

Available here
[https://zenodo.org/badge/doi/10.5281/zenodo.4018965.svg](https://zenodo.org/badge/doi/10.5281/zenodo.4018965.svg)
![https://zenodo.org/badge/doi/10.5281/zenodo.4018965.svg](https://zenodo.org/badge/doi/10.5281/zenodo.4018965.svg)

[2020-09-21 10:51] b286 commented on #44
Will you please also provide the DOI links? I've tried to search for it but it claims this doesn't exist.

[2020-09-21 13:13] beniroquai commented on #44
Would you also mind to add these two for the Hardware git:
[![DOI](https://zenodo.org/badge/145216636.svg)](https://zenodo.org/badge/latestdoi/145216636)

and the Software git:
[![DOI](https://zenodo.org/badge/199883118.svg)](https://zenodo.org/badge/latestdoi/199883118)

to places where you intended to have them?

Thank you! :-)
Now the code becomes citable

The DOI from zenodo becomes active onc

[2020-09-25 06:15] beniroquai opened #45 "Ordering Wastebox for recycling 3D printing material"
Long-time ago we were thinking about recycling 3D printing material. One service is this [one](https://zerowasteboxes.terracycle.com/products/3d-printing-materials-zero-waste-box?variant=1264347272&utm_source=www.terracycle.com&utm_medium=main_button&utm_campaign=ZeroWasteBox).
I think that's fairly expensive. Maybe we can find some local alternative?

Any ideas @RainerHeintzmann @b286?

[2020-09-25 06:52] b286 commented on #45
I'm totally up for recycling the materials, the waste makes me sad. If we just use Prusament, maybe we could contact Prusa and ask if they would accept the material back? They produce everything themselves, they could have a way of dealing with this. I don't know :D

[2020-09-25 13:57] beniroquai commented on #45
Are you keen on doing that? :)

[2020-09-25 14:02] b286 commented on #45
I can certainly try :D

[2020-10-01 16:13] beniroquai commented on #34
Hey @AlecVercruysse how is it going? Sorry for late reply. Are there any news? ;)
I'm still very curious (and not really able to program javascript ..)

Cheers

[2020-10-13 22:13] beniroquai commented on #42
Awesome! Thanks 😊

Am Do., 10. Sept. 2020 um 18:37 Uhr schrieb b286 <notifications@github.com>:

[2020-11-04 07:41] beniroquai commented on #39
Updated in recent [commit](https://github.com/bionanoimaging/UC2-GIT/tree/master/APPLICATIONS/APP_openKOEHLER)

[2020-11-04 07:41] #39 closed

[2020-11-06 12:54] beniroquai commented on #34
Hey @AlecVercruysse how are you? May I ask you to help me out with the configurator in the next days? Maybe we could chat through Zoom briefly such that I can make some alterations in the code on my own? Thanks a lot! :)

[2020-11-06 20:23] AlecVercruysse commented on #34
Hi, apologies, school (remote learning here in the US) has left me very busy with work and not so much free time to contribute to other projects this semester. Certainly I would be able to chat for a zoom call. I've reached out via email to schedule a call.

[2020-11-22 15:55] beniroquai opened #47 "Smartphone holder v3"
Do we want to have the smartphone holder slidable, or would it be even better to stack them to the pins of the new cubes like the plate for the LED I showed you recently?
@b286

[2020-11-23 08:40] b286 commented on #47
Curent v3 version is slidable, placed inside the cube before closing it.

I find it a more stable solution than printed holes for the pins, since the plate is supposed to carry the weight of a phone. For LEDs it's not an issue, given that they don't weigh almost anything.

[2020-12-02 22:42] recri opened #48 "useetoo.org may be hosting malware"
My adblocker refused to open useetoo.org because of the trackers and known malware distributors being accessed in by the website.  This is the first time I recall this happening.  I allowed the trackers temporarily and landed at a "prize" page for my number of google searches.  Has your web site been hacked?

[2020-12-02 23:16] RainerHeintzmann commented on #48
Dear Roger,
Thanks for telling us. I think you are right.
It looks like it was hacked. We will try to fix this asap.
Thanks,
  Rainer

On Wed, 2 Dec 2020 at 23:42, Roger E Critchlow Jr <notifications@github.com>
wrote:

[2020-12-03 05:59] beniroquai commented on #48
Thanks for the comment! I was already facing that on Monday. @renerichter is on it. Let's hope for the best!

[2020-12-06 21:54] dakoner opened #49 "Print Mechanical Z-stage without support or add supports?"
This page:
https://github.com/bionanoimaging/UC2-GIT/tree/master/CAD/ASSEMBLY_CUBE_Z-STAGE_mechanical_v2
says the parts can all be printed without support.
I printed the focus linear bearing flexure:
https://github.com/bionanoimaging/UC2-GIT/blob/master/CAD/ASSEMBLY_CUBE_Z-STAGE_mechanical_v2/STL/Assembly_Cube_Z-Focus_Linearbearing_1x1_v4_20_focus_inlet_linearflexure_v4_7.stl

and while the piece

[2020-12-07 09:21] b286 commented on #49
Hi,

Thank you for your comment. We print this part with a 0,15 mm layer height with the Prusa MK3S, using various materials, and while there are some extra filament pieces where the printer prints 'in the air', this shouldn't have any effect on the performance of the part.

If you feel like it'S needed, you can od support but removing it is not so easy and in my experience you risk breaking somet

[2020-12-14 00:07] jediknightnapoleon opened #50 "Lens holder for optical objective lens?"
Hi,

Just discovered this project. It is really amazing! Could you please let me know if it's possible to use the spiral or fixed lens holder for tube objective lens?

Many thanks!

Jerry

[2020-12-14 07:01] b286 commented on #50
Hi Jerry,

Thank you for your support :) The spiral holder can be generally used for any round object, the important parameter is the diameter of your tube lens. The holder found [here](https://github.com/bionanoimaging/UC2-GIT/blob/master/CAD/ASSEMBLY_CUBE_Lens_v2/STL/20_Cube_Insert_Objective_Holder.stl) can hold it if the diameter is up to 38 mm or so. It is useful to have the lens mounted in a

[2020-12-14 07:32] beniroquai commented on #50
Thank you! :-)

Am Mo., 14. Dez. 2020 um 08:01 Uhr schrieb b286 <notifications@github.com>:

[2020-12-14 09:39] jediknightnapoleon commented on #50
Thanks a lot! I see, so I guess it would be better if I design a small ring/tube separately to mount the tube lens and then put the assembly on the spiral holder? Does the custom tube have to have any special structure to fit the holder? Also how does the spiral holder hold the lens securely? Does it only hold the lens horizontally or can it hold the lens vertically too?

[2020-12-14 10:53] b286 commented on #50
If you don't have the lens in any mount, I'd rather suggest to use the fixed holder. the spiral holder is good for example for [mounted Thorlabs lenses](https://www.thorlabs.com/newgrouppage9.cfm?objectgroup_id=6277&pn=LA1131-A-ML) but as you can see in [this picture](https://github.com/bionanoimaging/UC2-GIT/blob/master/CAD/ASSEMBLY_CUBE_Lens_v2/IMAGES/CUBE_LENSHOLDER_1.jpg), putting in a bare le

[2020-12-14 11:00] jediknightnapoleon commented on #50
Thanks, sory I didn't make this clear. I meant the microscopy objective lens like in [here](https://www.thorlabs.com/newgrouppage9.cfm?objectgroup_id=1044)
Is it ok if I use lenses like those?

[2020-12-14 12:37] b286 commented on #50
I see, I understood tube lens. A microscope objective can be just placed into the spiral. However, in this case, it wouldn't be that stable when the objective is held vertically. For such application you can try the [new insert](https://github.com/bionanoimaging/UC2-GIT/blob/master/CAD/ASSEMBLY_CUBE_Z-STAGE_v3/STL/20_IM_Cube_Insert_Lens_holder_RMS_63x.stl) that is so far tested for the [new Z-stag

[2020-12-14 13:50] jediknightnapoleon commented on #50
I see, thank you. This seems promising. I'm just wondering how does this new insert hold the lens? Is it press fit or does it just have a smaller diameter so that the lens can rest on the hole?

[2020-12-14 15:43] b286 commented on #50
It is pres fit - a RMS thread fits in the triangular hole in the insert.

[2020-12-15 09:07] jediknightnapoleon commented on #50
Do you have a picture of it in real life? It's a bit hard for me to imagine how this works. Don't worry if you don't have one. I guess I can just print one and try to sit a lens on :)

[2020-12-15 11:13] beniroquai commented on #50
Hey, certainly. I have just updated the documentation [here](https://github.com/bionanoimaging/UC2-GIT/tree/master/CAD/ASSEMBLY_CUBE_Z-STAGE_v3).
Please reach out if this is confusing.
As @b286 already mentioned, we will switch to a new v3 design very soon. But don'T worry, everything stays compatible and great :-P

[2021-01-04 10:54] beniroquai opened #51 ""Inner Cube" For parts which lack enough supporting material"
For parts like the AlliedVision camera, we should perhaps design inserts that are an inner cube rather than just a plate. This could help the part to not move around.
What do you think @b286 ?

[2021-01-04 11:09] b286 commented on #51
This would definitely improve the stability but also limit the alignment range. Personally I didn't have any trouble with the camera moving around but I did have to align it to a certain position.

It would also increase the printing time of those inserts.

We ca design something like this and try it out :)

[2021-01-07 16:40] beniroquai commented on #51
Hmh. The camera is not really stably mounted inside the cube. Perhaps this is better:
![image](https://user-images.githubusercontent.com/4345528/103918626-5194d600-510f-11eb-94c7-6a30065c8760.png)

What do you think?
@ranranking

[2021-01-07 16:52] ranranking commented on #51
Can we maybe not use two walls here? Is it not good for cooling? I dont know if it will be better, have kind of inner post from the bottom of the camera plate to the 'roof', which direct contact with the four vertical pillar of the cube, and fix the plate.
Or just make the wall on top side as well and have a opening window, which can fix a 12v fan inside ^^

[2021-01-08 07:13] beniroquai commented on #51
Would you mind making a sketch or even a CAD drawing? ;)

[2021-01-09 10:02] beniroquai commented on #51
@ranranking made this:
![image](https://user-images.githubusercontent.com/4345528/104088868-1c50cb00-526a-11eb-9d3b-233c2545ee3c.png)

It works very well. We should upgrade at least the camera insert with this.
Can you please do that @ranranking ? replace the original version with yours and close this issue? Thanks!

[2021-01-09 12:25] beniroquai opened #52 "Updating openISM documentation according to the openSIM page"
I figured, that the current openISM documentation is not up-to-date and in-line with the manuscript.
@ranranking would you mind helping me to update it? I have updated the structure of the openSIM. I would like to have the two versions similar. Would be great. Thanks :)
Currently, everything is in the v3 branch.

[2021-01-09 14:34] beniroquai opened #53 "Naming convention in STL folder for UC2 configurator"
I have written a small Python script that handles proper renaming of the STL files in the `/CAD/RAW/STL` folder. It is inside the same folder and calls `convertname.py`
Please have a look there @b286. The naming convention must be reflected in the Excel sheet as well. Thank you.

[2021-01-09 16:11] beniroquai commented on #53
Naming convention in the `RAW/STL`-folder ist:
`UC2_`+`FILENAME`+`_v3`+`.stl`

For example:
`UC2_20_Cube_Insert_Thorlabs_v3.stl`

[2021-01-11 09:57] ranranking commented on #51
I have saved the new version with camera in V3 folder with the name of Assembly_Cube_AlliedVision_Alvium_v3

[2021-01-11 09:57] #51 closed

[2021-01-11 12:57] b286 opened #54 "UC2 configurator issues"
### General issues
- [x] Lenses: how shall we take into account that there are different holders for different lenses and that the user might need to create his own?

### GitHub
- [x] for v3 I omitted the version from the name of the module, since renaming everything everywhere is a hassle and this will save time in the future. However, all the modules that existed in git with ‘_v2’ in their name

[2021-01-11 13:02] b286 commented on #54
### APPLICATIONS:
- [ ] all the downloaded zip files of the applications are empty, the list of files in zip is also always empty
- [ ] when adding a module of choice to an application, list and folder are again empty
- [ ] The applications sometimes give a different list of modules - the first time I selected an application there was a certain list. In some cases, from the second time on, there w

[2021-01-11 15:00] b286 commented on #54
### MODULES:

- [ ] Baseplate
- Baseplate 4x4 appers in the ZIP list, after clicking ‘download’ a bar saying ‘fetching data from GitHub’ appears but then nothing happens, nothing downloads

- Alvium Cam ✓

- [ ] Aperture circular
- everything works according to the list, but it’s supposed to have 7 leaves and not just one - shall Il add them as extra lines to the excel sheet or can this be fixed b

[2021-01-11 21:42] beniroquai commented on #51
Cool! Thanks a lot :)

Am Mo., 11. Jan. 2021 um 10:58 Uhr schrieb ranranking <
notifications@github.com>:

[2021-01-12 14:43] beniroquai commented on #54
Closing it for now, since all issues have been resolved here [https://github.com/bionanoimaging/uc2-configurator/issues](https://github.com/bionanoimaging/uc2-configurator/issues)

[2021-01-12 14:43] #54 closed

[2021-01-21 22:37] beniroquai opened #55 "Adding Folder for Sample Preparation?"
Perhaps we could add a short list of recipes for sample preparation with images for those who have never dealt with this.
@RainerHeintzmann you could give an example of preparing the flowers for example
@ranranking  @b286 - perhaps some cools stuff from your work? Cheek cells and fibers are nice samples too.

What do you think?

[2021-01-23 06:41] darwinbandoy opened #56 "Magnetic screw issue (needs further documentation and alternative sources)"
First I would like to express my gratitude for the team who made this modular microscopy possible.

I was inspired to purchase a 3d printed to build my raman microscope. I have my spectrophotometer prototyped using lego blocks and on my way 3D printing the microscope components.

I purchased stainless steel (M3-0.50 x 12mm) on Amazon and the biggest surprise is it is not magnetic. This might be a

[2021-01-25 08:52] b286 commented on #56
Dear @darwinbandoy ,

Thank you for your nice words and your interest in the project.

I believe we say that the screws should be made of galvanized steel in (hopefully) all the parts lists that appear through the repository. Stainless steel is in deed not magnetic. However, your point is very good - this might be causing confusion and leave the makers thinking that "steel is a steel, how differen

[2021-01-25 10:04] b286 opened #57 "UC2_v3 release"
When do we merge the v3 branch into master? What is left to be done before that?

- [x] We should keep a link to the pre-merge point of the repository history somewhere on sight, at least for some time, for people who might still be working with v2.

- [x] The video updates by @edabngl can be done after merging the branch
- [x]  The SIM+ISM documentation @ranranking What's the state?

Anything els

[2021-01-25 10:38] beniroquai commented on #57
We can create a Tag or release to the current version as v2.1?

[2021-01-25 10:39] beniroquai commented on #57
@ranranking do you need help to move openSIM/ISM to the configurator? I think it needs some polisihing ;)

[2021-01-25 10:46] ranranking commented on #57
I will try to update the ISM and get a nice image for it as well, we can see if it need some polishing after my push

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Benedict Diederich <notifications@github.com>
发送时间: Monday, January 25, 2021 11:39:20 AM
收件人: bionanoimaging/UC2-GIT <UC2-GIT@noreply.github.com>
抄送: ranranking <wanghaoran1207@hotmail.com>; Mention <me

[2021-01-25 10:54] b286 commented on #57
- [ ] @b286  check and update the google spread sheet, hide confusing old information

I think such a release wouldn't be that different from the last one. I'd suggest to put somewhere visibly in the main readme a link to the fixed point in the history of commits - the way we did it with the link in the Nature paper. That way it can be easily browed.

[2021-01-25 16:22] beniroquai commented on #57
You should see it here:
![image](https://user-images.githubusercontent.com/4345528/105733506-e9792900-5f31-11eb-9702-0ad218826e44.png)

Regarding ToDo's .. I'm waiting for the go from @ranranking then I'll review the UC2-configurator once again :)

[2021-01-25 16:34] ranranking commented on #57
I have pushed the new version of the  configurator excel, maybe you can have a look when you have time. I have upgraded the ISM module with the Z-Stage, STL and cover images are also in the folder they should be.

[2021-01-25 22:57] beniroquai commented on #57
Thanks @ranranking I checked the list. It compiles now, but there are issues with the parts it seems..

Also @b286 and @ranranking the following parts are still missing in the STL RAW folder:
[code]

Cover image for SIM is missing

[2021-01-25 23:12] beniroquai commented on #57
Looks good so far, except the ISM:

![image](https://user-images.githubusercontent.com/4345528/105777676-17c72a80-5f6b-11eb-8ae0-53da2b425e34.png)

Intentially? 50 puzzle pieces? ;)

[2021-01-25 23:25] ranranking commented on #57
I added 50 pieces because i am not sure about how to configure it. I set 50 is for both openSIM and ISM togther, because in the tutorial i wrote all based on the setup combined togther but on the figure is separate. Should just write as on the example figure?

[2021-01-26 05:33] darwinbandoy opened #58 "Spectrophotometer alignment"
I am working on a raman microscope, one of the components is a spectrophotometer.

I decided to follow the current working guide but doing so will not generate any spectra.

The camera or imaging module must be perpendicular to the diffraction grating.

In my case I placed a perpendicular 45 degree mirror so spectral image is reflected on top where a phone or webcam imager can be conveniently plac

[2021-01-26 06:08] beniroquai commented on #58
Hey @darwinbandoy, thanks for filing this issue. Do you want to directly use the [UC2 Spectrometer](https://github.com/bionanoimaging/UC2-GIT/tree/master/APPLICATIONS/APP_Spectrometer) for Raman imaging? This sounds tough, but I'm sure you have adapted your design already or?
@edabngl has made some experiments with the spectrometer, perhaps she can help you?

[2021-01-26 06:10] beniroquai commented on #57
That's fine; We need to decide if we really want to include all modules in the setup, but since the `APP_openSIM/ISM` is a fully assembled setup, it should have all the modules. Would you mind adding the other components too? I think you can copy/paste the entries from openSIM.

Also once again, the spelling must (!) be the very same as the actual files ;-)

[2021-01-26 06:20] darwinbandoy commented on #58
I made multiple modifications:

1) I created covers but PLA is too shiny so I added black paper to reduce reflection
2) I controlled light entry by coupling fiber optic as entry point
3) I designed a diffraction grating mount
4) I modified the alignment of the diffraction grating with mirror and imaging system

I am still doing some modifications but I can share my modified version if this valuabl

[2021-01-26 08:19] b286 commented on #57
I know what the release looks like, but then you can just download it as a zip file. Considering the comfort of, for example, my currect high school pupils I think the option to browse through the page normally is more convenient.

Missing files added. All files are (fingers crossed) the latest version.

[2021-01-27 22:51] beniroquai commented on #57
So then let'S create a new v2 branch derived from the last master before merging to v3?

[2021-01-27 22:57] beniroquai commented on #57
The latest commit looks good, no missing `STLS` any more thank you! 👍

[2021-01-27 23:08] beniroquai commented on #57
Also; The openSIM and openISM Application was still wrong, something was bad with the numbers..all shifted. Corrected it.

[2021-01-27 23:15] beniroquai commented on #58
It would be brilliant to see that! I'm very curious. Would you mind sharing it here?
Also if you want you can contribute with a pull request.
We will ship the version "v3" in the next days. Everything will be compatible though, don't wonder ;-)

[2021-01-28 06:15] b286 commented on #57
v2 branch, that's a neat solution! Thanks for the idea, I'll do that.

[2021-01-29 16:41] darwinbandoy commented on #55
would be interested to contribute infectious disease (DxBox) module focusing on common diagnostics like fecalysis and maybe generate identification keys for common parasites in domestic animals ( my DVM background).

[2021-01-29 16:43] darwinbandoy commented on #58
So far the fiber optic spectrophotometer prototype is working (generates spectra).

I will do some refinements and would share the results here.

[2021-01-29 21:33] dakoner commented on #56
'galvanized' is the not the best term to use if  you  search for  magnetic screws on amazon.  it brings  up a  lot of  construction screws  as well as machine screws.  galvanization is a surface coating, instead I think you want to select the steel's material properties

Amazon actually has a "Screw filter" https://www.amazon.com/s?k=steel+screw&ref=nb_sb_noss_1 where  you  can  select  "carbon st

[2021-01-31 22:17] beniroquai commented on #55
Sounds great! I could simply "copy+paste" the immuno fluorescent stuff I did so far. But I think it would be great to have something for the "ordinary" hacker who tries a light sheet microscope for the first time. In best case we could have it as a recipe based on off-the-shelf components.

[2021-02-03 13:48] b286 commented on #57
Anything missing or are we ready?

Videos by @edabngl are almost all published now.

If the SIM and ISM parts are done, I'd pull it into master this week.

[2021-02-03 14:11] #47 closed

[2021-02-03 14:12] #19 closed

[2021-02-03 14:13] #44 closed

[2021-02-03 14:13] #41 closed

[2021-02-03 15:20] edabngl commented on #57
Yes. I uploaded 6 new YB videos for v3 cubes and baseplates.

[2021-02-03 22:32] beniroquai commented on #57
I like what I see! Very much indeed! :)
Well done @b286 and @edabngl!!
I checked the configurator once more, everything looks good to me. Certainly there are some issues in the github, I'll try to sort these out soon! :)

You have my blessing :p

[2021-02-03 22:35] beniroquai commented on #57
@b286 perhaps we should think about a "launch campaign" like [this one](https://twitter.com/OpenFlexure/status/1356632596172668934) ;-)

[2021-02-04 09:31] beniroquai opened #59 "Having a low-cost version of a cylindrical lens"
Instead of having an expensive hard to get cylindrical lens, I tested a plane-convex plastic slab which is made out of Plexiglas (R) with an refractive index of 1.48 I suppose. You can get it very cheap at [ebay](https://www.ebay.de/itm/10-99-m-Acrylglas-Halb-Rundstab-15-mm-Hohe-7-5-mm-Lange-wahlbar/362697878979?hash=item54727a6dc3:g:WmAAAOSwUKxYm1H3)

This is the slab with a `radius=15mm`, so sho

[2021-02-04 14:22] b286 commented on #57
Totally. You mean something big scale?

[2021-02-04 14:23] beniroquai opened #60 "Adding openflexure Deltastage to v3"
I updated the adapter for the new openflexure deltastage. Should we have it as an individual module?
 You only need this plate + M3/M5 screws:

![Assembly_Cube_Openflexure_Stage_v3](https://user-images.githubusercontent.com/4345528/106905878-e71a8a00-66fc-11eb-8bbc-2ceb49dc6dea.png)

What do you think @b286

[2021-02-04 14:23] b286 commented on #59
Definitely, "Cylindrical lens cheap". I'll create a page and excel input for it, so it will appear everywhere?

[2021-02-04 14:25] b286 commented on #60
If it's now v3, I think we should include it. Excel sheet, configurator as well then.

[2021-02-04 14:35] beniroquai commented on #59
I've added something to the excel. Will push it now

[2021-02-04 14:37] beniroquai opened #61 "What is ASSEMBLY_CUBE_Z-stage_microscrew"
Was this intentionally added? It appears in the excel sheet
@b286 @ranranking

[2021-02-04 14:41] beniroquai commented on #59
You can have a look @b286

[2021-02-04 19:03] beniroquai commented on #57
Well, you had this funny idea of filming someone assembling an ordinary cube and our injection moulded stuff with a stop-watch in the background. Something like that. Could be "BIG" wrt. new version 3.

[2021-02-05 08:42] b286 commented on #57
Yes, we'll film this with Eda once I can come to work. Shall we then wait with the release a use this video to advertise it?

[2021-02-05 10:19] b286 commented on #59
Do you want to replace the old cylindrical lens completely?
Otherwise I'd just insert it as a separate module in the excel, with a place holder folder, explanations can be in the existing one.

[2021-02-05 23:21] beniroquai commented on #59
Sure go for it! )

[2021-02-06 16:13] beniroquai commented on #57
Yes! Let's summarize the advantages of v3 in a twitter thread like the one from [openflexure](https://twitter.com/OpenFlexure/status/1356632596172668934)

[2021-02-17 20:33] jediknightnapoleon opened #62 "Magnetic balls pull force"
Hi,

Could you please let me know what's the minimum pull force needed for the magnetic balls? I saw that you used a magnetic ball that can hold 400g weights but that was produced in Germany and complicated to purchase from the UK after Brexit... So I was wondering if I have to buy my own magnets what pull force would be required?

Many thanks,

Jerry

[2021-02-18 07:50] b286 commented on #62
Hi Jerry,

I'm not sure what would be the required pull force but aside from that German vendor we also have good experience with ball magnets from eBay or Amazon. They don't provide such detailed specifications but in general the magnets always worked for us. So as long as you go for "strong neodymium ball magnets" you should be safe.

[2021-02-18 21:58] jediknightnapoleon commented on #62
I see, thanks!

[2021-03-04 20:55] jediknightnapoleon opened #64 "Downward pointing objective with the z stage"
Hi,

Is it possible for the objective to point downwards with the current z stage design? Will it be possible to just flip the holder and the objective and still use the screw to hang the objective?

Many thanks,

Jerry

[2021-03-05 06:40] b286 commented on #64
Hi Jerry,

In theory this should be easily possible - you just need to insert the objective mount into the Z-stage in the 180° flipped orientation. There's no reason why it shouldn't work. However, we never tried it in any setup so I'd be curious to know how it worked out for you 🙂

[2021-03-17 23:08] edabngl opened #66 "Broken Links"
Some links are not working:
1.  First link, raw folder link in [Building The MiniBOX and SimpleBOX](https://github.com/bionanoimaging/UC2-GIT/tree/master/TheBOX/SimpleBOX/BUILD_ME#building-the-minibox-and-simplebox)
2. First link, raw folder link, mechanical z-stage link in  [Building The CourseBOX](https://github.com/bionanoimaging/UC2-GIT/tree/master/TheBOX/CourseBOX/BUILD_ME#building-the-course

[2021-03-17 23:18] edabngl opened #67 "Confusion about price of the BOXes"
[in google-spreadsheet v3 sheet](https://docs.google.com/spreadsheets/d/1U1MndGKRCs0LKE5W8VGreCv9DJbQVQv7O6kgLlB6ZmE/edit#gid=2013242519):  the price of each box is 37.44€ for Minibox, 44.34€ for Simplebox, 322.98€ for Coursebox and 458.70€ for Fullbox.
Are they for 3DP cubes?
In each box page, the prices are different. Minibox is around 80 euro, simple box is around 150 euro, course box is around

[2021-03-18 07:59] #66 closed

[2021-03-19 12:04] #67 closed

[2021-03-19 12:04] #62 closed

[2021-03-19 12:05] #59 closed

[2021-03-19 12:05] #57 closed

[2021-03-19 12:05] #53 closed

[2021-04-08 08:28] jediknightnapoleon opened #68 "z stage for samples"
Hi,

I'm just wondering how does the z stage for samples hold the sample (for example a slide)? Do we just loosely put the slide on top of the translating stage? Also is it possible to just use a screw instead of a motor to adjust the height of sample manually like in the z stage for objective?

Many thanks,

Jerry

[2021-04-08 13:14] ranranking commented on #68
Hallo Jerry,

thanks for using the UC2 modules.

We have a new version of z stage, which moves the height of the sample instead of move the objective.
https://github.com/bionanoimaging/UC2-GIT/blob/v3/CAD/ASSEMBLY_CUBE_Z-STAGE_sample/STL/20_Cube_Insert_Z-Focus_single_v3.stl
It is designed for using a micrometre to fine adjusting the z position of the sample. You can get more information here:
http

[2021-04-08 15:00] beniroquai commented on #68
Indeed, the Z-stage is a critical topic ;-)
Always open for suggestions! In fact, the stage can be used for moving the objective as well as the sample. How do you like to work with it? Perhaps we can adapt it to make it more useful?

[2021-04-09 11:18] jediknightnapoleon commented on #68
Hi both,

Thank you very much for your replies! I see, could you please advise on how to assemble the z stage with a micrometer as the z controller? On the z stage cube page it only shows how to assemble with a motor so I'm not fully sure how a micrometer can be inserted.

Could you please also recommend any specific micrometers that fit this version of z stage?

Many thanks,

Jerry

[2021-04-17 07:49] beniroquai commented on #68
Hey, thanks for the remark. Indeed the Z-stage using the micrometer doesn't seem to be very well documented.
We use micrometers from [RS Electronics](https://uk.rs-online.com/web/p/micrometers/7857878/).. @ranranking would you mind to add some images from your z-stage with the micrometer and the link to the RS parts please? :)

[2021-04-21 14:43] franciscozorrilla commented on #44
Hi I was wondering if you could share how you created the red bioarxiv DOI badge? Would love to make one for my preprint :)

[2021-04-21 16:26] ranranking commented on #68
Hallo,

Here is a picture of the z stage with micrometre, the micrometer is fixed with screws from 3 sides and the rubber band can provide the backlash.
![Z-stage](https://user-images.githubusercontent.com/52754557/115586682-23599180-a2cd-11eb-83bf-cd3630ad7c45.jpg)
It's better to use the similar micrometre as on the picture with a flat front surface on the rod, otherwise it will have a step leap

[2021-04-22 09:02] b286 commented on #44
Hi,

I used the generic badge for GitHub as described [here](https://academia.stackexchange.com/questions/27341/flair-badge-for-arxiv-paper), in particular:

`[![DOI:<your number>](http://img.shields.io/badge/DOI-<your number>-<colour hexcode>.svg)](<doi link>)`

Using a colour that is somewhat specific for the journal or preprint service. B31B1B for bioarxiv.

So for our preprint in bioarxiv `[![

[2021-04-28 09:21] nicolaidorka opened #70 "CAD files link is not working"
https://github.com/bionanoimaging/UC2-GIT/blob/master/WORKSHOP/APPLICATIONS/APP_INLINE_HOLOGRAM

[2021-04-28 09:55] b286 commented on #70
Thank you for pointing this out! It should work now.

[2021-04-28 09:55] #70 closed

[2021-05-21 12:21] Zmrf opened #73 "Questions about Lenses and the Beam Splitter"
Hello,
I've got 3 Questions regarding the Fluorescence Microscope (infinity):

1. In "Parts" it says "Tube lense according to objective lens", what kind of lens is needed for an 10x objective?
2. The Laser, the Beam Splitter and the Emission Filter need to be choosen specific for the used Fluorescence Protein, right?
3.  If yes, what Kind of Beam Splitter ist needed for TurboGFP with Excitation ma

[2021-05-27 09:27] Kirk3gaard opened #74 "baseplate STL files for all offset values"
Hi

Thanks for making such a cool project with open hardware.

I have been trying to generate STL files for the baseplate using the thingiverse customiser as described in the base plate puzzle guide. However, it appears to take forever for thingiverse to generate the new file. Have you considered generating the STL files for all the different off set combinations once and allow direct download for

[2021-05-27 09:40] b286 commented on #74
Hi Rasmus,

I'm sorry for this issue, the Thingiverse Customizer tends to be buggy from time to time. You can also use directly the OpenSCAD file [here](https://github.com/bionanoimaging/UC2-GIT/blob/master/CAD/ASSEMBLY_Baseplate/3DP_Baseplate/10_Base_puzzle_v3.scad) and generate the STL file there.

The STL file take a lot of space so we're rather trying to minimise the amount of the that is stor

[2021-05-27 12:07] Kirk3gaard commented on #74
Hi B

Thanks  a lot. The OpenSCAD file that seems to do the trick.

Best Rasmus

![baseplate_printed](https://user-images.githubusercontent.com/4373417/119823281-e64c7480-bef4-11eb-98d3-6846edd5394e.jpg)

[2021-05-29 10:16] beniroquai commented on #74
Nice print! :)
Which printer is this?

[2021-05-29 14:42] Kirk3gaard commented on #74
Hi

It is the prusa mk3s.

The prints got even better after I discovered that the prusa slicer got an easy solution to get rid of the edge ("elephant foot" https://help.prusa3d.com/en/article/elephant-foot-compensation_114487 ) that formed at the bottom of the first few test prints :D. Now the puzzle pieces fit perfectly without sanding.

I assume other slicers have similar options. So it may be w

[2021-06-02 06:52] Kirk3gaard commented on #49
Hi

I am surprised how well this printed even though there are quite a few horizontal pieces that have to be printed in the air.

Best regards
Rasmus

![IMG_20210601_151221](https://user-images.githubusercontent.com/4373417/120436708-8dab2a80-c37f-11eb-8e31-5df8330000ac.jpg)

[2021-06-02 13:34] jediknightnapoleon commented on #68
Hi would it be possible to just use a screw to move the z stage? I seem to remember there was a previous version which just use a long M3 screw but I'm not sure how it works exactly.

[2021-06-02 14:24] b286 commented on #68
Hey,
There is still the [mechanical Z-stage](https://github.com/bionanoimaging/UC2-GIT/tree/master/CAD/ASSEMBLY_CUBE_Z-STAGE_mechanical) that just uses a wheel on a long M3 screw. Other than that, I don't know which version do you have in mind.

[2021-06-02 20:27] jediknightnapoleon commented on #68
Hi,

Thanks for your reply. I tried the mechanical Z-stage you mentioned but had to modify the objective holder to fit my Olympus RMS20X objective. Unfortunately as this is bigger than yours the weight of the objective seems to cause the objective-holder complex to rotate around the screw and point slightly downwards. Is there any way I can fix this misalignment?

Many thanks!

[2021-06-04 06:12] beniroquai commented on #73
Hey Darius,

many apologies for the late repyl!

In order to answer your questions:

```1. In "Parts" it says "Tube lense according to objective lens", what kind of lens is needed for an 10x objective?```

The tube lens in combination with the objective lens determine the full magnification of your optical system. For Zeiss, the tubelens length is 165, for Nikon/Olympos 200mm for example (not alwa

[2021-06-07 06:06] beniroquai opened #75 "The Openflexure Adaptor misses images and needs an update"
I just wanted to add this so that we won't forget. The [page](https://github.com/bionanoimaging/UC2-GIT/tree/master/CAD/CUBE_INSERT_OpenFlexure) misses images. Perhaps we can also update the parts? Are they up-to-date?

[2021-06-07 06:06] beniroquai commented on #52
Is this done @ranranking

[2021-06-09 06:33] b286 commented on #75
Images restored with latest commit, they got lost on the way. I don't think it's up-to-date, but I've never worked with it myself. Maybe @ranranking uses the latest version?

[2021-06-09 06:57] b286 commented on #68
Hi,

I'm afraid we don't have a solution for this at hand, as we never used the mechanical stage for a real microscopy application, but rather for education with the small objective. However, we are currently working on a new, improved, and "stronger" objective stage, so a solution is hopefully coming soon.

[2021-06-09 09:40] ranranking commented on #75
You mean the single adapter for Openflexure? I will try to find it and post image here, you can check if is that one

[2021-06-09 20:08] beniroquai commented on #75
That would be great. Then we can close this thing again :)

[2021-06-09 20:29] beniroquai commented on #68
May I ask you to take a picture from your z-stage? PErhaps we have alternatives ;-)

[2021-06-14 11:53] jediknightnapoleon commented on #68
Hi all,

Thank you for your replies and sorry for the delay. I have attached two photos of my current cube for the objective. It basically uses the mechanical z stage but I modified the objective holder. It now holds the lens but if I try to adjust the position (e.g. translate the lens for focusing) of the objective then the orientation of the objective changes too because there is large friction

[2021-06-16 13:34] Zmrf commented on #73
Thanks for ur Answer.

Greetings :)

[2021-06-16 13:34] #73 closed

[2021-07-14 10:02] b286 opened #76 "Idea for structure improvement"
To keep things nicely organised, we could state the "Stage of development" in the top of the separate project READMEs, such as
* active
* published: DOI:...
* inactive

What do you think?

[2021-08-15 07:54] Sh4zKh4n opened #77 "Cad scales in ISM and SIM STL's incorrect"
The raw STL files are scaled incorrectly for ism and SIM parts.

Could you let me know what the scaling should be.

[2021-08-16 09:55] ranranking commented on #77
Hey, i am sorry to make the confusion. The STL files are exported with Inventor and due to the incorrect setting, all the files are smaller than the real scale and it should be 1000% scale when you print it. I will also update the correct version as well. Thank you

[2021-08-16 11:02] Sh4zKh4n commented on #77
No Thank you, I was going crazy because I kept thinking. Why is this so small...

Ill leave this open till you get a chance to repair but at least I can scale the thing! Much appreciated.

[2021-08-16 13:22] ranranking commented on #77
I update the STL files and you can find them here https://github.com/openUC2/UC2_openSIM/tree/main/CAD, https://github.com/openUC2/UC2_openISM/tree/main/CAD. They should now in the correct scale. I will close the issue now and if you have further questions, you can open an new issue

[2021-08-16 13:22] #77 closed

[2021-08-16 14:39] Sh4zKh4n commented on #77
Great thanks!

[2021-08-18 21:26] beniroquai commented on #76
Yes! Good idea. DOI by means of paper or by means of Zenodo?

[2021-08-19 09:00] b286 commented on #76
We can sign DOI via Zenodo to most of those (when they're in a good development state) and additionally the published ones have a DOI of the paper.

[2021-12-14 10:45] Micha-Mo opened #78 "Example Filters for Dichroic Beam splitter Cube"
Please give some example based on your used laser, how to choose the 3 filters according to wavelenght to use in the fluorescence microscope.

[2021-12-14 21:19] beniroquai commented on #78
Hey @Micha-Mo thanks for reaching out.
What kind of fluorophore do you have if I may ask you? I think a good introduction into the selection of filters and light-sources can always be found [here](https://www.microscopyu.com/techniques/fluorescence/introduction-to-fluorescence-microscopy).

If you have already know what to image, we can definitely help you selecting the filters - although the sele

[2022-01-05 14:25] dhershm opened #79 "PSRAM ID read error - ESP32 while flashing LED matrix code"
![Screenshot (55)](https://user-images.githubusercontent.com/81010688/148232830-a3984baa-72f2-4562-935f-06563014a91f.png)

Can't connect LED matrix with the ESP32 for the Incubator microscope. While checking the serial monitor, it shows the error in the picture given.

errors:
PSRAM ID read error: 0xffffffff

abort() was called at PC 0x40089631 on core 1

[2022-01-06 09:34] beniroquai commented on #79
That is hard to debug. Did you enter the correct settings in the ESP32 Arduino IDE tool? Did you activate the PSRAM?
Could you check just uploading the LED Matrix example from Adafruit?

[2022-01-07 11:54] dhersm commented on #79
Yes ,  the settings are correct. As you suggested, we enabled PSRAM and the PSRAM error is solved but "abort() was called at PC 0x40086ed5 on core 1"  is still there. The motor is connected successfully via MQTT but the LED array is not.

[2022-01-23 09:51] Feanor007 opened #80 "mechanical z-stage"
Hi all, it seems the inventor file for the mechanical z-stage is no longer available.
Does anyone know where to find it?

[2022-01-23 12:39] beniroquai commented on #80
Hey @Feanor007 good point. All a bit confusing a bit with the stages since they developed faster than expected. Would you mind which stage you're looking for? With motors? Which motor? (Nema/28BYI?) Flexure based or with linear bearing from CNC machines?
I guess we should have a separate Github repo for a stable version of the stage!

[2022-02-01 12:59] Feanor007 commented on #80
https://github.com/openUC2/UC2-GIT/tree/v3/CAD/ASSEMBLY_CUBE_Z-STAGE_mechanical
I was referring to this one, without motor

[2022-02-08 21:23] beniroquai commented on #80
Hey @Feanor007, sorry for late reply.
I just updated the RAW IPT files. You can find them [here](https://github.com/openUC2/UC2-GIT/tree/master/CAD/RAW/IPT)

[2022-02-11 08:08] GiuseppeCiccone96 opened #81 "Motorised polarizer/filter rotating stage"
Hi,

I think it would be really nice to integrate a motorised polariser/filter mount that is compatible with the uc2 framework and easily adaptable to other open-source microscopy projects such as the OpenFlexure.
A starting point can be [This paper](https://opg.optica.org/ao/fulltext.cfm?uri=ao-60-13-3764&id=450413), where they present a step-by-step guide to 3d print and assemble motorised rotat

[2022-02-14 09:31] beniroquai commented on #81
Hey Giuseppe,

thanks for pointing to this nice paper. I would really like to see this functionality in our system. Also it could help reducing speckles.
I did a quick mockup using 3 ball bearings, a 3D printed timing belt and a 28byi stepper motor. What do you think?
[![Watch the video]()](https://user-images.githubusercontent.com/4345528/153837131-b368720a-3fac-4a7f-a531-f09a1175bc1a.mp4)

[2022-02-14 17:17] GiuseppeCiccone96 commented on #81
Hi Bene,

thanks so much for the quick try!

I think it looks very promising - perhaps it could be integrated into the "APPLICATIONS" repository with instructions?
Maybe one example could be an illuminator for polarization microscopy (I would like to try this out but we are currently moving labs and I don't have access to any equipment).

Thanks a lot for your support :)

Giuseppe

[2022-02-16 06:39] beniroquai commented on #81
[Tadah](https://github.com/openUC2/UC2-Motorized-Rotator).
![uc2rot](https://user-images.githubusercontent.com/4345528/154210048-8f98e72e-679f-4150-a75a-6c6a2ba9ce1b.gif)

Feel free to comment :-)

[2022-02-16 06:39] #81 closed

[2022-02-16 08:00] GiuseppeCiccone96 commented on #81
Hi Bene, looks fantastic!

I think the link may be broken though?

Giuseppe

[2022-02-16 08:02] beniroquai commented on #81
Fixed. Sorry, for some reason it was set to private :)

[2022-02-16 08:07] GiuseppeCiccone96 commented on #81
not sure why but it still gives me error 404... :(

[2022-02-16 21:10] beniroquai commented on #81
Hey, I'm very sorry. Now its really public!! ;-)

[2022-03-03 17:57] #80 closed

[2022-03-03 17:57] beniroquai commented on #79
I hope the error was resolved finally.

[2022-03-03 17:57] #79 closed

[2022-03-03 18:03] beniroquai commented on #78
Were you able to resolve the issue?
Let me know if you need further help.

[2022-03-03 18:08] beniroquai opened #82 "UC2 injection moulded cube optimization thread"
I wanted to take the chance to collect some feedback in order to improve the injection moulded cubes. Please feel free to add whatever comment so that we will have a refined version that is less harmful, yet compatible and long lasting.

I wanted to talk about this cube/baseplates
<img src="./IMAGES/Assembly_Cube_IM_explosion.png" height="300">

@edabngl, @b286, @renerichter, @ranranking

Some poi

[2022-03-06 05:03] beniroquai commented on #82
In order to get the cube "straight", perhaps we could think about a mix of the Thorlabs rails and the mysterious railoptics:
![image](https://user-images.githubusercontent.com/4345528/156909716-98528fc7-6618-4048-8406-afef931959d5.png)

I could imagine having a modified version of an insert or even some extra hack at the cube's edges?

Or even a modified thingy from the caliper. It's quite accurat

[2022-03-06 16:05] RainerHeintzmann commented on #82
That's not a bad idea. Let's talk about it.

On Sun, 6 Mar 2022 at 06:03, Benedict Diederich ***@***.***>
wrote:

[2022-03-06 21:44] beniroquai commented on #82
Sure!

One more thing to add: baseplates should be compatible with laser cutting
manufacturing.

On Sun, Mar 6, 2022, 08:06 Rainer Heintzmann ***@***.***>
wrote:

[2022-03-07 11:47] ranranking commented on #82
I'd like to have some lock mechanism, it helps a lot to hold the optics position. Is that possible to have a small groove at cube parts connection that can open the cube easily without threaten the optics?

[2022-03-07 15:17] beniroquai commented on #82
One more "thing": make magnet-based and stackable option compatible by adapted baseplate, but same IM cube:

- have the holes for the pins in the baseplate bigger so that no force is required to put them together
- laser-cut parts could be used for magnet-based version? 3 layers, then magnets are "fixed" forever? (e.g. Sandwich)

[2022-03-07 15:22] beniroquai commented on #82
And: "expansion mechanism" for fixing the insert permanently.

[2022-03-08 00:08] beniroquai commented on #82
@ranranking do you mean a lock mechanism to not accidentally open the cube`? Definitely Important!

[2022-03-16 16:26] beniroquai commented on #82
One more thing I really don't like is that the baseplates are sometimes sticking together too stiff. Also the cubes are residing on the baseplate so that one cannot get them out easily. Sometimes the pins are too big for the holes which causes an additional distance between plate and cube.

One more thing is the positive/negative wings of the puzzle piece. Sometimes they are "in the way". Solution

[2022-03-20 12:53] Kubiczek36 commented on #82
Hey,

I like the simple way the cubes are. Maybe I would think about modifying the inserts. Here I got some suggestions.

![IMG_0475](https://user-images.githubusercontent.com/39549241/159163019-a58aff0e-7276-450e-9db1-1fdedca6d35a.jpg)
![IMG_0478](https://user-images.githubusercontent.com/39549241/159163021-1fc53659-6241-4fa4-9df4-4c4361e455af.jpg)

And as i understood it right. You are aiming to

[2022-03-20 15:18] beniroquai commented on #82
That looks great! We should have a hackathon for brainstorming a bit!
For locking I though a bit simpler. Similar to these "guys":
![image](https://user-images.githubusercontent.com/4345528/159169387-f61316e5-8ceb-4113-98a1-2aab62194a1b.png)

Having a flexure bearing that is squeezed and then locked in place of the cub - and potentially even straightens the insert.

Electronics is a whole differen

[2022-03-21 06:51] RainerHeintzmann commented on #82
"Similar to" could possibly mean "use these guys"?

On Sun, 20 Mar 2022 at 16:18, Benedict Diederich ***@***.***>
wrote:

[2022-04-08 14:58] beniroquai commented on #82
We should also think about having an insert inside an insert, so that we can injection mould the global insert in order to have higher precision + better reproducibility. + the global insert should have a locking mechanism

[2022-04-08 15:05] beniroquai commented on #82
Having more holes for adding shielding plates is also mandatory

[2022-04-13 06:04] beniroquai opened #86 "3D printed puzzle and cube are not fitting well"
***Puzzle piece:***
- Holes do not match M5 screws

***Cubes***
- "General" Inserts (now standard is IM) does not fit, so we should shrink it once and for all

What do you think @b286 @edabngl?

[2022-04-16 15:26] beniroquai commented on #86
I pushed a new commit 79556b080198fcea24e9452c8557f3b3b66c1b5b. I hope this goes in line with your expectation @b286 @edabngl. Minor update [here](https://github.com/openUC2/UC2-GIT/tree/master/CAD/ASSEMBLY_CUBE_Base#assembly)

[2022-04-16 15:26] #86 closed

[2022-04-21 22:46] beniroquai commented on #82
The "Masterinsert" should have press-inserts for screws. Perhaps M3. PErhaps ferromagnetic?

[2022-05-27 19:36] Mzyetik commented on #26
Tutorial-3 Lens Holder stl Files
STL file download options are not available on the links from the page https://github.com/openUC2/UC2-GIT/tree/master/CAD/ASSEMBLY_CUBE_Lens. For example , on the following link https://github.com/openUC2/UC2-GIT/blob/master/CAD/RAW/STL/20_Insert_Lens_holder_v3_-50mm.stl there is no download option.

[2022-05-30 20:52] beniroquai commented on #26
Hey @Mzyetik, thanks for reporting the error. We moved all STLs to this folder: https://github.com/openUC2/UC2-GIT/tree/master/CAD/RAW/STL

[2022-05-31 10:11] edabngl opened #87 "Links should be updated for Z-STAGE"
many links are broken in [Z-stage based on a linear slide (Objective/Sample)](https://github.com/openUC2/UC2-GIT/blob/master/CAD/ASSEMBLY_CUBE_Z-STAGE_NEMA_MGN/Readme.md).
Or [new Z-stage repository ](https://github.com/openUC2/UC2-Zstage) can be mentioned instead of updating this page.

[2022-06-02 11:50] Kubiczek36 opened #88 "STEP missing"
Hey hey,

looking in the repository all the CAD files are there in Inventor file format, however not everybody uses Autodesk software. Please could you begin to add the files also in STEP as it is universal format, which can be opened in other CADs also?

My fellow student Veronika met this issue working on her thesis, when she had to import the STL files into Solidworks. Trust me, you do not want

[2022-06-02 21:26] beniroquai commented on #88
Thanks @Kubiczek36 for reporting this issue.

I found this:

<img width="395" alt="image" src="https://user-images.githubusercontent.com/4345528/171741163-ffa84afa-ff06-42bf-9372-b63a0990f3c6.png">

Let'S see what will happen now :-)

Would you mind reminding me to upload the STPs soon?

[2022-06-03 19:30] beniroquai commented on #26
Did you try hitting the `RAW` button? :-)

Alternative tools to access files easier through the browser are for example
https://github1s.com/openUC2/UC2-Git

[2022-06-03 19:45] Mzyetik commented on #26
:D yes now I got there i got the directly the code to print as
![image](https://user-images.githubusercontent.com/105027742/171937933-46e57f6c-c501-411b-a741-c388ecd6905d.png) then but when I right click on RAW and save as, it let me to download, many thanks :)

[2022-06-20 17:53] Mzyetik opened #89 "The Link is not working for the Eyepiece on the Simple Smartphone Page"
The Link is not working for the Eyepiece on the following page
https://github.com/openUC2/UC2-GIT/tree/master/APPLICATIONS/APP_SIMPLE-Smartphone_Microscope/mechanical

the link which doesn't work is https://de.aliexpress.com/item/32965050204.html?spm=a2g0o.productlist.0.0.7aa657eeefLUfu&algo_pvid=cd60fca0-3fa5-4191-9ce9-303815e2afa7&algo_expid=cd60fca0-3fa5-4191-9ce9-303815e2afa7-1&btsid=76036b58-

[2022-06-20 18:52] Mzyetik opened #90 "Fluomodule: 2× Star-LEDs blue (high power 1-3 Watt) Link doesnt work"
Fluomodule: 2× Star-LEDs blue (high power 1-3 Watt) Link ( https://www.ebay.de/itm/Hi-Power-LED-1W-3W-UV-STAR-Ultraviolet-/131326525056?var= ) on the Smartphone Section ( https://github.com/openUC2/UC2-GIT/tree/master/APPLICATIONS/APP_SMARTPHONE_MICROSCOPE) .

Since I am a beginner, I would be happy if you could help us in buying the first components of the tutorial section. Therefore I started fi

[2022-07-17 15:04] Mzyetik opened #91 "About Fluorescence Microscope (infinity)"
Dear All,

Some of the component links dont work (especially this one 1x Objective lens, No Name, 100x, NA1.25, 50 Euro, China ) in the Infinity Florescence Microscope page:

https://github.com/openUC2/UC2-GIT/tree/v3/APPLICATIONS/APP_Fluorescence_Microscope_infinity

We would be happy if it could be updated.

Besides, here we wonder about the objective lens. In this Florescence Microscope, do we

[2022-07-19 14:04] beniroquai commented on #91
Hey, thanks for reaching out.
In general the quality of the objective lens is determined by its name (e.g. apochromat). Fluo usually means that you have additional antireflection coating. Additional information is nicely summarized here https://www.microscopyu.com/microscopy-basics/introduction-to-microscope-objectives

Decent lenses for relatively low pice are available from Nikon and Bolioptics

[2022-07-19 15:40] Mzyetik commented on #91
Thank you also for your kind answer about Fluorescence

How about achieving phase contrast in your setup? Do they need special objectives as we are used to?

many thanks

[2022-07-20 05:58] beniroquai commented on #91
Hey, you can use oblique illumination or darkfield. The alternative would
be purchasing a phase-contrast objective and use a ring illumination.

[2022-07-26 14:27] Mzyetik commented on #91
Many thanks for your kind answers, I hope we can mount it on UC2 microscope setups, by the way how to print focus_inlet_linearflexure https://github.com/openUC2/UC2-GIT/blob/master/CAD/RAW/STL/20_focus_inlet_linearflexure_v2-3_1x1_v3.stl
![image](https://user-images.githubusercontent.com/105027742/181031214-ca3f5bdc-dcd4-46ee-b086-ecb3dad18e0d.png)
we were not successful although did several trial

[2022-07-26 16:14] beniroquai commented on #91
Hey @Myzetik,

thanks for your message. In fact, this stage is already fairly old and I cannot support this design anymore. We moved to NEMA stepper motors in our recent results.
If you send a photo, perhaps I can tell what could be improved ;)

[2022-07-27 13:40] Mzyetik commented on #91
Thank you very much for your answer, and informing about the new version. I checked it as well https://github.com/openUC2/UC2-GIT/blob/v3/CAD/RAW/STL/UC2_20_Cube_Insert_Z-Focus_single_motorized_v3.stl regardless of new or old version, the 3D printer requires to use support to print these nicely designed structures but then it is not possible to remove the support as seen the one on the picture.
![

[2022-07-28 09:19] beniroquai commented on #91
Did you try printing without the support? Not sure if @b286 has any insights here ;)

[2022-08-15 15:40] wbrett87 commented on #91
Hi, if you havn't resolved this issue yet:

1) Flip it over in your slicer software so the largest area touches the printing bed.
2) Print WITHOUT support - this is what helped the most for me. Your printer should be able to "bridge" this distance.

[2022-08-15 18:19] beniroquai commented on #91
Thanks!:)
In general: if you use the full prusa ecosystem including their filament and slicer, chances of a successfully printed microscope are very high. :)

[2022-08-16 16:49] wbrett87 commented on #91
I used a Creality 3 ender pro with good results

[2022-08-16 16:54] beniroquai commented on #91
Which settings and Filament if I may ask you?

On Tue, Aug 16, 2022, 18:49 wbrett87 ***@***.***> wrote:

[2022-08-16 17:08] wbrett87 commented on #91
I used Inland blue PLA(from Microcenter here in US).  It needs hotter temps than your average PLA but once I figured that out it worked great. I can't remember the settings offhand but I will put them here when I get home from work. I used the Ultimaker Cura slicer.

[2022-08-16 18:42] Mzyetik commented on #91
Thanks a lot, some of our friend used water soluble support material but it resulted with a warped holder, then the better solution is your suggestion we will try it, thank you again for the continuing discussion, it is quite informative

[2022-08-16 19:21] wbrett87 opened #95 "Neopixel voltage issues w/ ESP32"
I was having issues with using a neopixel array for lighting with an ESP32 (random behaviors like wrong pixels lighting up or wrong colors) here's what I found the solution to be:

The ESP32 outputs 3.2v logic, while the neopixel understands 5v logic. As I understand it, this means that often a 'high' signal (1 in binary) will be interpreted by the neopixel as a 'low'(0 in binary). This leads to u

[2022-08-16 22:25] beniroquai commented on #95
Hey, thanks for reporting. Indeed this may causes issues depending on the display you purchase. So far I feel very lucky - not sure why sometimes it works without any issues and sometimes it just doesn't.

[2022-09-05 18:44] Mzyetik opened #96 "FLU Modul for Smartphone Microscope"
How to add Fluorescent Module  for Smartphone Microscope https://github.com/openUC2/UC2-GIT/tree/master/APPLICATIONS/APP_SMARTPHONE_MICROSCOPE  your advice and guidance are highly appreciated

[2022-09-05 21:52] beniroquai commented on #96
What kind of fluorescence would you like to see?

Am Mo., 5. Sept. 2022 um 20:44 Uhr schrieb Mzyetik ***@***.***

[2022-09-07 18:07] Mzyetik commented on #96
Initially, we just wanted to follow the steps and the flu module mentioned here in the link https://github.com/openUC2/UC2-GIT/tree/master/APPLICATIONS/APP_SMARTPHONE_MICROSCOPE , unfortunately we could not see the instructions neither the link of the flu led (faded away).

[2022-09-08 05:53] beniroquai commented on #96
Thanks again for reaching out. We are about to publish a new fluorescence
microscope based on this assembly: It's not up-to-date yet, but we will be
working on it soon!
The off-axis LED illumination gives a very poor SNR for the fluorescence
signal unfortunately. Depends a bit on what you want to do. :)

Am Mi., 7. Sept. 2022 um 20:07 Uhr schrieb Mzyetik ***@***.***

[2022-09-19 08:01] jjspoc opened #97 "IPT could not be opened error; no database"
Since most parts are not available in STEP format and I do only have access to Fusion360. Unfortunately the free hobbyist license does not allow for importing IPT or IAM files. Hence I use a transformation route through Siemens´ SolidEdge 2022 (free as well). It occurred to me that many IPT files are not readable in Inventor Viewer, which is essential in this transformation process. Few examples (

[2022-10-24 05:24] b2jia opened #100 "Incomplete parts list for Polar BOX"
Really interested in building up a PolarBOX for self-learning! I noticed that

1. many of the links on [the parts list](https://github.com/openUC2/UC2-GIT/tree/master/TheBOX/PolarBOX) are either broken or missing (ie. which mirrors? which circular polarizers?)
2. the 3D parts are not on [UC2-configurator](https://uc2configurator.netlify.app/), is there a reason?
3. assembly links are broken

Thank

[2022-10-24 09:29] edabngl commented on #100
Hi. Actually, all STL files are included specifically in each application page, STL folders. But I recognised now that Build_Me page links need update, thank for feedback.

Just follow [this page ](https://github.com/openUC2/UC2-GIT/tree/master/TheBOX/PolarBOX)  and the application page links for STL fıles. Unfortunately, we don't have ready-to-download file for all necessary 3d printed parts but

[2022-10-24 12:01] beniroquai commented on #100
@edabngl are you keen on fixing the links? ;-)

[2022-10-24 12:05] beniroquai commented on #100
I quickly implemented a URL-checker in github actions: https://github.com/openUC2/UC2-GIT/actions/runs/3312545528
I fear there are many dead links :-/

[2022-10-24 12:23] edabngl commented on #100
@beniroquai I can organize the folder, deletes unnecessary parts and add the links to already organized pages. But not this week, maybe next week :)

[2022-10-24 12:24] beniroquai commented on #100
Cool :)

Here is the summary:
https://github.com/openUC2/UC2-GIT/actions/runs/3312545528/jobs/5469341816

Look for "dead links" ;-)

[2022-10-24 22:02] b2jia commented on #100
Thanks both for your support. I want to clarify one thing - it looks like a few of the non 3-D printing parts are not listed (ie. mirrors, birefringent material, circular polarizers). Is there a parts list for these as well?

[2022-11-04 16:58] sdnnet3 opened #101 "pictures missing from documentation"
When browsing through the github space, there are only broken links for photos.

[2022-11-04 17:51] beniroquai commented on #101
Thanks for reporting the issue. We have already seen this recently

Any links in particular?

On Fri, Nov 4, 2022, 17:59 Clayton Hutton ***@***.***> wrote:

[2022-11-10 20:06] sdnnet3 commented on #101
For sure these pages:
https://github.com/openUC2/UC2-GIT
https://github.com/openUC2/UC2-GIT/tree/master/TheBOX
    -and all sublinked pages

[2022-11-11 10:23] beniroquai commented on #101
@edabngl would you mind having a look here, please? Thank you! :-)

[2022-11-14 03:57] b2jia opened #102 "Circular aperture leaf too thin to print"
Regarding `20_Cube_Insert_CirAp_Leaf_v3.stl` as requirement for the light sheet microscope, it looks like the thickness of the leaf is only 0.3mm. We have tried printing this many times to no avail. We are wondering (1) is this truly the correct thickness? (2) can it be "thicker" to work, or is the tolerance extremely small?

![image](https://user-images.githubusercontent.com/37123556/201572193-13

[2022-11-14 10:20] beniroquai commented on #102
Dear @b2jia many thanks for your message. Unfortunately, the person who developed it (@b286) no longer supports this module. Perhaps @edabngl, can you help out here? :)

[2022-11-14 15:31] b2jia commented on #102
@beniroquai thanks for your response! Just checking it is permissible to increase the thickness of this aperture leaf. I checked the clearance on the aperture wheel (onto which the hole in the leaf locks in), it's 0.6 mm in thickness. I'm thinking of both increasing the extrusion on the aperture wheel (0.6mm -> 1 mm), and the thickness of the leaf (0.3 mm -> 0.7mm).

[2022-11-15 18:11] edabngl commented on #102
Hi @b2jia , I used this design before, and I got problems with assembling the leaves to the wheel. So, my solution was the updating the wheel holder part with edges which is an up-to-date design for now.
If you change the edge design, which you mentioned as 0.6mm -> 1 mm  (I marked this part in the image), I think you can use thicker leaves in the design. There is enough gap between the lid and gu

[2022-11-15 18:11] #102 closed

[2022-11-17 21:40] edabngl commented on #100
Hi @b2jia . I updated [BUILD_ME](https://github.com/openUC2/UC2-GIT/tree/master/TheBOX/PolarBOX/BUILD_ME) page of PolarBOX, broken links and missing images and links were added. If you can't find the details of the module in BUILD_ME, please go to directly the Application page for more details i. e. [Circular Polarization](https://github.com/openUC2/UC2-GIT/tree/master/APPLICATIONS/APP_POL_Circula

[2022-11-17 21:40] #100 closed

[2022-11-17 21:51] edabngl commented on #89
They are fixed.

[2022-11-17 21:51] #89 closed

[2022-11-17 22:00] beniroquai commented on #89
Great! Thanks!

[2022-11-18 06:53] beniroquai commented on #100
@edabngl @b2jia please find the newly organized documtation for the polarbox here: https://openuc2.github.io/docs/DiscoveryKit/Polarisation/APP_POL_Brewster_Angle_Experiment/

CC: @renerichter @ranranking

[2022-11-24 00:02] b2jia commented on #102
For future posterity: in case others are also trying to print this aperture,

- increasing the leaf thickness to 0.6 mm was sufficient
- increasing the clearance on the wheel (circled above) to 1 mm was also sufficient
- the clips on the wheels needed to be filed down in order for the leaves to hook on
- for future note: print the leaves with a non-transparent material (white shown below; partiall

[2022-11-24 06:10] b2jia commented on #88
I echo @Kubiczek36's suggestion! Having these files as STEP format would make modifications much easier. I believe it will also facilitate users to contribute to this repo - I am happy to commit my changed files!

[2022-11-27 15:00] ASupra opened #103 "Link needs updated on Contribute to UC2 page"
https://github.com/openUC2/UC2-GIT/blob/master/CONTRIBUTING.md

Link at hardware section needs updated.

[2022-11-27 19:54] beniroquai commented on #103
Hey @ASupra thanks for reaching out. Any problems you would like to get solved in particular?

[2022-11-27 21:54] beniroquai commented on #88
Hey! Thanks for putting this up again. I was looking through the
documentation of Autodesk Inventor and it seems that it's not possible to
have the STP files exported automatically in batch mode. Do you know any
way of doing that?

Message ID: ***@***.***>

[2022-11-27 22:11] beniroquai commented on #88
I managed to initiate a batch run - but where to store the files? The git
would be too large then.

Am So., 27. Nov. 2022 um 22:54 Uhr schrieb Benedict Diederich <
***@***.***>:

[2022-11-30 06:06] b2jia commented on #88
Is it possible to host on Zenodo?

Sorry I missed the last message, for some reason it did not appear on my notifications.

[2022-11-30 16:17] beniroquai commented on #88
@b2jia, please find the STEP files here: https://github.com/openUC2/UC2-STEP

[2022-11-30 16:17] #88 closed